<h1 class="animated bounceIn">  
<%= link_to "#{@word.spanish}(#{@word.english})", "http://www.spanishdict.com/translate/#{@word.spanish}", :target => "_blank" %>
</h1>
<span id="break"></span>
<h2 class="animated bounceIn"><%= @word.sentencespanish %></h2>
<h2 class="animated bounceIn"><%= @word.sentenceenglish %></h2>


