@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #3097E7;
  color: #fff;
  padding: 20px;
  font-family: "Fjalla One";
}

a {
  color: #fff;
}

a:hover,
a:focus,
a:active {
  color: #f7f7f7;
  text-decoration: none;
}
.content {
  text-align: center;
}

h1 {


}

h2 {


}

p {

}


