<!DOCTYPE html>
<html>
<head>
  <title>Word of the Day - Spanish - English</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  @import 'https://fonts.googleapis.com/css?family=Fjalla+One';
  </style>
</head>
<body>
<div class="heading">
  <h1>Word of the Day</h1>
  <h2>Spanish - English</h2>
</div>
<div class="content">
  <%= yield %>
</div>
<p style="text-align:center">Made by pkayokay</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
</script>
</body>
</html>
